:root{
    --fonte-padrao: 'Inter', sans-serif;
    --cinza:#667085;
    --cinza-titulo:#3A404E;
    --vermelho:#8E2424;
    --grey900:#101828;
    --grey500: #667085;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--fonte-padrao);
    font-size:16px;
    font-weight:500;
}

.navbar{
    display:flex;
    justify-content: space-around;
    height:80px;
}

.logo-container{
    display:flex;
    align-items:center;
    gap: 8px;
}

.navbar__titulo{
    color:var(--cinza-titulo);
    font-size:18px;
}

.navbar__links, 
.navbar__buttons{
    list-style-type: none;
    display:flex;
    align-items: center;
    gap:32px;
}

.link{
    text-decoration: none;
    color:var(--cinza);
}

.button{
    padding: 10px 18px;
    border-radius: 8px;
}

.button-red{
    background-color:var(--vermelho);
    color:white;
}

.banner{
    padding: 96px;
    text-align:center;
}

.banner__subtitulo{
    font-weight: 600;
    color:var(--vermelho)
}

.banner__titulo{
    font-weight: 600;
    font-size: 48px;
    color: var(--grey900);
    margin:24px auto;
}

.banner__paragrafo{
    font-weight: 400;
    font-size:20px;
    color: var(--grey500);
    max-width:800px;
    margin:36px auto;
}

.metricas{
    padding: 0 auto 96px auto;
    display: flex;
    justify-content: center;
    gap:32px;
}

.metricas__valor{
    font-weight: 600;
    font-size: 60px;
    color: var(--vermelho);
    margin-bottom:12px;
}

.metricas__titulo{
    font-size: 18px;
    color: var(--grey900);
    margin-bottom: 8px;
}

.metricas__paragrafo{
    font-weight: 400;
    color: var(--grey500);
    max-width: 280px;
}

.vagas{
    text-align: center;
    padding:100px;
    margin:0 auto;
}

.vagas__texto{
    display: inline-block;
    background: #8E24240D;
    color:var(--vermelho);
    border-radius:16px;
    padding:4px 12px;
    font-size: 14px;
    margin-bottom:20px;
}

.vagas__titulo{
    font-weight: 600;
    font-size: 36px;
    color:var(--grey900);
    margin-bottom:20px;
}

.vagas__subtitulo{
    font-weight: 400;
    font-size: 20px;
    color:var(--grey500);
    margin-bottom:64px;
}

.vagas__imagem{
    max-width: 80%;
}

.vagas__setor,
.card{
    text-align: left;
}

.vagas__setor{
    max-width: 816px;
    font-size: 20px;
    color: var(--grey900);
    margin:64px auto 32px;
}

.card{
    max-width: 768px;
    padding: 24px 24px 28px;
    border: 1px solid #EAECF0;
    border-radius: 16px;
    margin:0 auto 24px;
}